.join-us {
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    &__title {
        display: flex;
        justify-content: center;
        line-height: 112%;

        &--marked {
            color:#87d322;
            background-color: inherit;
            transition-duration: var(--transition-duration-long);
            
            @include hover {
                scale: 105%;
                color: var(--color-dark);
            }
        }
    }

    &__button {
        display: flex;
        width: 180px;
        align-items: center;
        justify-content: center;
    }
}