.partners {
    min-height: 2209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px;
    background-color: #fafafa; 

    @include desktop {
        padding: 80px;
    }

    @include mobile {
        padding: 15px;
        min-height: 600px;
    }

    &__header {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 80px;

        @include desktop{
            display: flex;
            row-gap: 32px;
        }

        &-list {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 24px;
            margin-bottom: 80px;

            @include desktop {
                column-gap: 16px;
            }

            @include mobile {
                scroll-snap-type: x mandatory;
                overflow-x: scroll;
                width: 90vw;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 24px;
            transition-duration: var(--transition-duration);

            @include square(124px);

            @include hover {
                background-color: var(--color-accent);
                border-radius: var(--border-radius-small);
                scale: 105%;
            }

            &--active {
                background-color: var(--color-accent);
                border-radius: var(--border-radius-small);
                transition-duration: var(--transition-duration);

                @include hover {
                    opacity: 0.7;
                    scale: 110%;

                    @include mobile {
                        scale: 85%;
                    }
                }

                
            }

            @include desktop {
                @include square (64px);

                scale: 60%;
            }

            @include mobile {
                flex: 0 0 auto;
                scroll-snap-align: start;

                @include hover {
                    background-color: var(--color-accent);
                    border-radius: var(--border-radius-small);
                    scale: 80%;
                }
                
            }   
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        transition-duration: var(--transition-duration-long);

        @include hover {
            color: var(--color-accent);
            transform: scale(103%);
        }

        @include mobile {
            max-width: 340px;
            text-align: center;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-list {
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 40px;
        }

        &-item {
            display: flex;
            justify-content: center;
            max-width: 100%;

            &:last-child {
                margin-bottom: 80px;
            }
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
}