.section {
    &--black {
        background-color: var(--color-dark);
    }

    &--accent {
        background-color: var(--color-accent);
    }

    &--white {
        background-color: #fafafa;
    }
}