.startups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 80px;
    padding: 140px;
    max-width: 100%;
    min-height: 1012px;
    
    @include mobile {
        min-height: 1048px;
        max-width: 375px;
        row-gap: 32px;
    }

    @include tablet {
        padding: 30px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition-duration: var(--transition-duration-long);

        @include hover {
            color: var(--color-accent);
            transform: scale(110%);
        }
        
    }

    &__title {
        line-height: 1.28;
        
        @include tablet {
            width: 335px;
            text-align: center;
            font-weight: 900;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 266px;
        height: 120px;
        transition-duration: var(--transition-duration);

        @include hover {
            transform: scale(110%);
            filter: grayscale(100%);
        }

        @include tablet {
            width: 162px;
            height: 74px;
        }
    }

    &__image {
        @include tablet {
            scale: 70%;
        }
    }


    
}