.startups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: var(--container-padding-x);
    
    // max-height: clac(732px + 140px);
    max-width: 1160px;
    max-height: 1100px;
    padding-bottom: 80px;

    @include desktop {
        margin-top: 80px;
       
    }

    &__header {
        display: flex;
        justify-content: center;
        transition-duration: var(--transition-duration-long);

        &:not(:last-child) {
            padding-bottom: 80px;

            @include desktop {
                padding-bottom: 40px;
            }
        }

        @include hover {
            color: var(--color-accent);
            transform: scale(110%);
        }
        
    }
    
    &__body {
        height: 576px;
        width: 1160px;

        @include tablet {
            width: 700px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 266px;
        height: 120px;
        transition-duration: var(--transition-duration);

        @include hover {
            transform: scale(110%);
            filter: grayscale(100%);
        }

        @include desktop {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    
}