body {
    @include fluid-text(18, 14);
  
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.92;
    color: var(--color-dark);
    background-color: var(--color-light);
  }
  
  a,
  button,
  input,
  textarea,
  svg * {
    transition-duration: var(--transition-duration);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
    
  h2, .h2 {
    @include fluid-text(72, 36);
    font-weight: 900;
  }

  h3, .h3 {
    @include fluid-text(64, 36);
    font-weight: 700;

    @include tablet {
      font-weight: 900;
    }
  }

  h4, .h4 {
    @include fluid-text(36, 32);
    font-weight: 500;
    line-height: 1;
  }
  
