@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-dark-alt: #2B2B2B;
  --color-gray: #8B8B8B;
  --color-gray-alt: #ADADAD;
  --color-accent: #A8FF35;
  --color-accent-alt: #8CC83A;
  --border: 1px solid var(--color-dark);
  --border-radius: 16px;
  --border-radius-small: 8px;
  --border-radius-button: 40px;
  --border-radius-button-alt: 29px;
  --font-family-base: "Effra", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 18px;
  --section-padding-y: 70px;
  --button-height: 57px;
  --transition-duration: 0.2s;
  --transition-duration-long: 0.5s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 80px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(14px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.92;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h2, .h2 {
  font-size: clamp(36px, 5vw, 72px);
  font-weight: 900;
}

h3, .h3 {
  font-size: clamp(36px, 4.4444444444vw, 64px);
  font-weight: 700;
}

h4, .h4 {
  font-size: clamp(32px, 2.5vw, 36px);
  font-weight: 500;
  line-height: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-inline: 80px;
  background: url(../../images/header-bg.jpg) center/cover no-repeat;
  height: 100px;
  color: var(--color-light);
}
@media (max-width: 1023px) {
  .header {
    padding-inline: 30px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media (hover: hover) {
  .header__logo:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__logo:active {
    opacity: 0.7;
  }
}
.header__menu-item {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  text-wrap: nowrap;
}
.header__menu-item ::-moz-selection {
  color: var(--color-accent);
}
.header__menu-item ::selection {
  color: var(--color-accent);
}
@media (max-width: 1023px) {
  .header__menu-item {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  height: var(--header-height);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__menu-link:hover {
    transform: scale(110%);
    color: var(--color-gray);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    transform: scale(110%);
    color: var(--color-gray);
  }
}
.header__actions {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
@media (max-width: 1023px) {
  .header__actions {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__actions__registration-button {
  border: none;
  text-decoration: none;
}

.section--black {
  background-color: var(--color-dark);
}
.section--accent {
  background-color: var(--color-accent);
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: clamp(14px, 1.28vw, 18px);
  font-weight: 700;
  line-height: 1.4;
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius-button);
  white-space: nowrap;
  text-decoration: none;
}
@media (hover: hover) {
  .button:hover {
    transform: scale(110%);
    background-color: var(--color-light);
  }
}
@media (hover: none) {
  .button:active {
    transform: scale(110%);
    background-color: var(--color-light);
  }
}
.button--white {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 12px 32px;
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 1023px) {
  .button--white {
    padding: 6px 16px;
  }
}
.button--accent, .button--black {
  padding: 16px 32px;
}
.button--black {
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .button--black:hover {
    transform: scale(110%);
    background-color: var(--color-dark);
  }
}
@media (hover: none) {
  .button--black:active {
    transform: scale(110%);
    background-color: var(--color-dark);
  }
}
@media (hover: hover) {
  .button--accent:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button--accent:active {
    background-color: var(--color-accent);
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 32px;
}
@media (max-width: 1023px) {
  .grid {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .grid {
    gap: 15px;
  }
}
.grid--1 {
  --gridColumns: 1;
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
.grid--3 {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 1;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}
@media (max-width: 1023px) {
  .grid--4 {
    --gridColumns: 2;
    place-items: center;
    padding-bottom: 80px;
  }
}

.background-header {
  background: url(../../images/header-bg.jpg) center/cover no-repeat;
  height: 100vh;
}
@media (max-width: 1280px) {
  .background-header {
    height: 1000px;
  }
}

.background-tabs {
  background-color: var(--color-accent);
  max-height: 792px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 360px;
  background-color: #fafafa;
  border-radius: var(--border-radius);
  padding-inline: 32px;
}
.article--active {
  background-color: var(--color-accent);
}
.article__title {
  padding-top: 32px;
}
.article__main {
  height: 64px;
}
.article__main--marked {
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  background-color: inherit;
}
.article__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.article__item {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  line-height: 1;
}
.article__button {
  position: absolute;
  width: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-inline: 80px;
  background: url(../../images/header-bg.jpg) center/cover no-repeat;
  height: 100px;
  color: var(--color-light);
}
@media (max-width: 1023px) {
  .header {
    padding-inline: 30px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media (hover: hover) {
  .header__logo:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__logo:active {
    opacity: 0.7;
  }
}
.header__menu-item {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  text-wrap: nowrap;
}
.header__menu-item ::-moz-selection {
  color: var(--color-accent);
}
.header__menu-item ::selection {
  color: var(--color-accent);
}
@media (max-width: 1023px) {
  .header__menu-item {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  height: var(--header-height);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__menu-link:hover {
    transform: scale(110%);
    color: var(--color-gray);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    transform: scale(110%);
    color: var(--color-gray);
  }
}
.header__actions {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
@media (max-width: 1023px) {
  .header__actions {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__actions__registration-button {
  border: none;
  text-decoration: none;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
.mobile-overlay__registration-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  color: var(--color-light);
}
.hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.hero__title {
  color: inherit;
  line-height: 1.12;
  transition-duration: var(--transition-duration-long);
}
.hero__title:nth-child(2) {
  margin-bottom: 24px;
}
@media (hover: hover) {
  .hero__title:hover {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
@media (hover: none) {
  .hero__title:active {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
.hero__description {
  text-align: center;
  color: var(--color-gray);
  width: 666px;
  line-height: 1.5;
  justify-content: center;
  transition-duration: var(--transition-duration-long);
}
.hero__description ::-moz-selection {
  color: var(--color-accent);
}
.hero__description ::selection {
  color: var(--color-accent);
}
@media (hover: hover) {
  .hero__description:hover {
    transform: scale(105%);
  }
}
@media (hover: none) {
  .hero__description:active {
    transform: scale(105%);
  }
}
.hero__get-started {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-top: 40px;
  margin-left: 110px;
}
.hero__body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__images {
  display: flex;
  flex-wrap: nowrap;
}
.hero__image {
  transition-duration: var(--transition-duration);
}
.hero__image:nth-child(1) {
  z-index: 1000;
  position: absolute;
  left: 200px;
  top: 5px;
  transform: rotate(-4deg);
}
@media (max-width: 1280px) {
  .hero__image:nth-child(1) {
    right: 0;
    left: 30%;
  }
}
.hero__image:nth-child(2) {
  z-index: 900;
  position: absolute;
  left: 400px;
  top: 60px;
  transform: rotate(2deg);
}
@media (max-width: 1280px) {
  .hero__image:nth-child(2) {
    right: 0;
    left: 30%;
    top: 90px;
  }
}
.hero__image:nth-child(3) {
  z-index: 800;
  position: absolute;
  right: 450px;
  top: 10px;
  transform: rotate(-2deg);
}
@media (max-width: 1280px) {
  .hero__image:nth-child(3) {
    right: 0;
    left: 30%;
    top: 163px;
  }
}
.hero__image:nth-child(4) {
  z-index: 700;
  position: absolute;
  right: 190px;
  top: 60px;
  transform: rotate(4deg);
}
@media (max-width: 1280px) {
  .hero__image:nth-child(4) {
    right: 0;
    left: 30%;
    top: 245px;
  }
}
@media (hover: hover) {
  .hero__image:hover {
    filter: grayscale(100%);
    transform: scale(110%);
  }
}
@media (hover: none) {
  .hero__image:active {
    filter: grayscale(100%);
    transform: scale(110%);
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 140px 293px;
  row-gap: 60px;
}
@media (max-width: 1280px) {
  .tabs {
    padding: 100px 150px;
  }
}
@media (max-width: 1023px) {
  .tabs {
    row-gap: 30px;
  }
}
@media (max-width: 767px) {
  .tabs {
    padding: 80px 0;
    row-gap: 80px;
    margin: 0;
  }
}
.tabs__title {
  font-weight: 700;
  text-wrap: nowrap;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .tabs__title:hover {
    color: var(--color-light);
    transform: scale(105%);
  }
}
@media (hover: none) {
  .tabs__title:active {
    color: var(--color-light);
    transform: scale(105%);
  }
}
@media (max-width: 767px) {
  .tabs__title {
    font-size: 30px;
  }
}
.tabs__image-block {
  width: 500px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
  position: relative;
}
@media (max-width: 1023px) {
  .tabs__image-block {
    width: 400px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  .tabs__image-block {
    width: 339px;
    height: 118px;
  }
}
.tabs__body {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
@media (max-width: 767px) {
  .tabs__body {
    flex-direction: column;
    row-gap: 10px;
  }
}
.tabs__image {
  position: absolute;
  left: 15%;
  top: 30%;
  width: 350px;
  height: 80px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .tabs__image:hover {
    filter: grayscale(100%);
    transform: scale(110%);
  }
}
@media (hover: none) {
  .tabs__image:active {
    filter: grayscale(100%);
    transform: scale(110%);
  }
}
@media (max-width: 1023px) {
  .tabs__image {
    left: 6%;
    top: 25%;
  }
}
@media (max-width: 767px) {
  .tabs__image {
    width: 290px;
    height: 70px;
    left: 7%;
    top: 22%;
  }
}
.tabs__description {
  text-align: center;
  width: 666px;
  line-height: 1.5;
  justify-content: center;
  transition-duration: var(--transition-duration-long);
}
.tabs__description ::-moz-selection {
  color: var(--color-accent-alt);
  background-color: var(--color-dark);
}
.tabs__description ::selection {
  color: var(--color-accent-alt);
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .tabs__description:hover {
    transform: scale(105%);
  }
}
@media (hover: none) {
  .tabs__description:active {
    transform: scale(105%);
  }
}
@media (max-width: 767px) {
  .tabs__description {
    width: 286px;
    font-size: 14px;
    height: 63px;
  }
}

.slogan {
  display: flex;
  height: 584px;
  background-color: var(--color-light);
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .slogan {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slogan {
    height: 628px;
  }
}
.slogan__text {
  line-height: 1.1;
  width: 1160px;
  height: 304px;
}
.slogan__text--grey {
  color: var(--color-gray-alt);
  background: none;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .slogan__text--grey:hover {
    color: var(--color-accent);
    font-size: 72px;
  }
}
@media (hover: hover) and (max-width: 767px) {
  .slogan__text--grey:hover {
    font-size: 40px;
  }
}
@media (hover: none) {
  .slogan__text--grey:active {
    color: var(--color-accent);
    font-size: 72px;
  }
}
@media (hover: none) and (max-width: 767px) {
  .slogan__text--grey:active {
    font-size: 40px;
  }
}
@media (max-width: 1280px) {
  .slogan__text {
    font-size: 36px;
    width: 800px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .slogan__text {
    width: 335px;
    height: 387px;
  }
}

.startups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: var(--container-padding-x);
  max-width: 1160px;
  max-height: 1100px;
  padding-bottom: 80px;
}
@media (max-width: 1280px) {
  .startups {
    margin-top: 80px;
  }
}
.startups__header {
  display: flex;
  justify-content: center;
  transition-duration: var(--transition-duration-long);
}
.startups__header:not(:last-child) {
  padding-bottom: 80px;
}
@media (max-width: 1280px) {
  .startups__header:not(:last-child) {
    padding-bottom: 40px;
  }
}
@media (hover: hover) {
  .startups__header:hover {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
@media (hover: none) {
  .startups__header:active {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
.startups__body {
  height: 576px;
  width: 1160px;
}
@media (max-width: 1023px) {
  .startups__body {
    width: 700px;
  }
}
.startups__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 120px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .startups__item:hover {
    transform: scale(110%);
    filter: grayscale(100%);
  }
}
@media (hover: none) {
  .startups__item:active {
    transform: scale(110%);
    filter: grayscale(100%);
  }
}
@media (max-width: 1280px) {
  .startups__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.partners {
  min-height: 2200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}
.partners__header-list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 80px;
}
.partners__header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  transition-duration: var(--transition-duration);
  width: 124px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .partners__header-item:hover {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
    scale: 105%;
  }
}
@media (hover: none) {
  .partners__header-item:active {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
    scale: 105%;
  }
}
.partners__header-item--active {
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .partners__header-item--active:hover {
    opacity: 0.7;
    scale: 110%;
  }
}
@media (hover: none) {
  .partners__header-item--active:active {
    opacity: 0.7;
    scale: 110%;
  }
}
.partners__title {
  margin-bottom: 80px;
  text-align: center;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .partners__title:hover {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
@media (hover: none) {
  .partners__title:active {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
.partners__body-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}
.partners__body-item {
  display: flex;
  justify-content: center;
  width: 800px;
}
.partners__body-item:last-child {
  margin-bottom: 80px;
}
.partners__body-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription {
  min-height: 1128px;
  display: flex;
  flex-direction: column;
  padding: 140px;
  align-items: center;
  row-gap: 40px;
}
.subscription__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  row-gap: 40px;
}
.subscription__title {
  color: var(--color-light);
  line-height: 1;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .subscription__title:hover {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
@media (hover: none) {
  .subscription__title:active {
    color: var(--color-accent);
    transform: scale(110%);
  }
}
.subscription__radio {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.subscription__legend {
  font-size: 24px;
  font-weight: 500;
  color: #f5f5f5;
  opacity: 0.5;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .subscription__legend:hover {
    color: #f5f5f5;
    transform: scale(110%);
    opacity: 1;
  }
}
@media (hover: none) {
  .subscription__legend:active {
    color: #f5f5f5;
    transform: scale(110%);
    opacity: 1;
  }
}
.subscription__legend--active {
  color: var(--color-light);
  opacity: 1;
}
@media (hover: hover) {
  .subscription__legend--active:hover {
    color: var(--color-accent);
    transform: scale(110%);
    opacity: 1;
  }
}
@media (hover: none) {
  .subscription__legend--active:active {
    color: var(--color-accent);
    transform: scale(110%);
    opacity: 1;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 52px;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .switch:hover {
    scale: 110%;
  }
}
@media (hover: none) {
  .switch:active {
    scale: 110%;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-light);
  transition: 0.4s;
  transition-duration: var(--transition-duration);
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: 8px;
  bottom: 8px;
  background-color: var(--color-accent);
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-light);
}

input:checked + .slider:before {
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 99px;
}

.slider.round:before {
  border-radius: 50%;
}

.join-us {
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}
.join-us__title {
  display: flex;
  justify-content: center;
  line-height: 112%;
}
.join-us__title--marked {
  color: #87d322;
  background-color: inherit;
  transition-duration: var(--transition-duration-long);
}
@media (hover: hover) {
  .join-us__title--marked:hover {
    scale: 105%;
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .join-us__title--marked:active {
    scale: 105%;
    color: var(--color-dark);
  }
}
.join-us__button {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 80px;
}
@media (max-width: 1023px) {
  .footer {
    height: 473px;
    flex-direction: column;
    padding-block: 80px;
    row-gap: 80px;
  }
}
.footer__logo {
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .footer__logo:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .footer__logo:active {
    opacity: 0.6;
  }
}
@media (max-width: 1023px) {
  .footer__logo {
    justify-content: center;
  }
}
.footer__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
@media (max-width: 1023px) {
  .footer__list {
    flex-direction: column;
    row-gap: 40px;
  }
}
.footer__item {
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .footer__item:hover {
    transform: scale(110%);
    color: #87d322;
  }
}
@media (hover: none) {
  .footer__item:active {
    transform: scale(110%);
    color: #87d322;
  }
}/*# sourceMappingURL=style.css.map */